<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
  <meta name="theme-color" content="#DB0000"/>
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Hunger Apps</title>
</head>

<body>
  <a href="#mainContent" class="skip-link">Skip to content ?</a>
  <header class="header">
    <div class="header__inner">
      <h1 href="#" class="header__title">
        Hunger Apps
      </h1>
    </div>
    <button id="menu" class="header__menu" href="#">☰</button>
  </header>

  <nav id="drawer" class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="#/home">Home</a></li>
      <li class="nav__item"><a href="#/like">Favorite</a></li>
      <li class="nav__item"><a href="https://www.linkedin.com/in/ahmadnurfahmi/">About Us</a></li>
    </ul>
  </nav>


  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Bangun Restoranmu Sebagai Aset Masa Depanmu</h1>
      <p class="hero__tagline">Jadilah Pengusaha Yang Memperluas Lapangan Pekerjaan</p>
    </div>
  </div>

  <main tabindex="0" id="mainContent">
  </main>
  <footer>
    <p>Copyright © 2022 - Hunger Apps</p>
  </footer>
</body>

</html>